<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chigirh.app.kakeibo.infra.mapper.cluster.SampleClusterMapper">
    <insert id="insert">
        INSERT INTO main.sample
        (key, value, version)
        values
        <foreach item="entity" separator="," collection="entities">
            (#{entity.key}, #{entity.value}, 1)
        </foreach>
    </insert>
</mapper>
